<div class="container">
	<h3>User Administration</h3>
	<table class="table">
		<tr>
			<th></th>
			<th>ID</th>
			<th>Name</th>
			<th>Title</th>
			<th>Email</th>
			<th>Admin</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>

		<% _.each(users, function(user) { %>
		<tr data-id="<%= user.id %>" data-model="user">
			<% if (user.online) { %>
				<td><i class="glyphicon glyphicon-eye-open text-success"></i></td>
			<% } else { %>
				<td><i class="glyphicon glyphicon-eye-close text-danger"></i></td>
			<% } %>
			<td><%= user.id %></td>
			<td><%= user.name %></td>
			<td><%= user.title %></td>
			<td><%= user.email %></td>
			<% if(user.admin) { %>
				<td><i class="glyphicon glyphicon-tower text-success"></i></td>
			<% } else { %>
				<td><i class="glyphicon glyphicon-user text-muted"></i></td>
			<% } %>
			<td><a href="/user/show/<%= user.id %>" class="btn btn-sm btn-primary">Show</a></td>
			<td><a href="/user/edit/<%= user.id %>" class="btn btn-sm btn-warning">Edit</a></td>
			<td>
				<form action="/user/destroy/<%= user.id %>" method="post">
					<input type="hidden" name="_method" value="delete"/>
					<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
					<input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
				</form>
			</td>
		</tr>
		<% }); %>
	</table>
</div>